.up{
    background-color: navy;
    height: 250px;
    width: 100%;
}
.down{
    background-color: whitesmoke;
    height: 400px; 
    width: 100%;
}
.drop{
    display: flex;
}
.fromCurrency{
    margin-right: 50%;
}
.converterWrap{
    border-radius: 5%;
    margin-top: 5%;
    border: 1px solid white;
    width: 45%;
    margin-left: 5%;
    box-shadow: 5px;
    position: absolute;
    background-color: white;
    color: navy;
}
.converterInputs{
    margin: 10%;
}
.start{
    margin: auto;
    max-width: 700px;
}
h2{
    color: white;
    text-align: center;
    font-size: 40px;
}
#convertBtn{
    background-color: navy;
    color: white;
    font-size: 20px;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 20%;
    border-radius: 5%;
}
#resultContainer1{
    margin-top: 5%;
    border-radius: 5%;
    height: 30%;
}

@media(max-width:360px){
    .converterWrap{
        width: 85%;
    }
}